<h1><b> <p align="center">Список кураторов:</p> </b></h1>

<% @curators.each do |curator| %>
	<h2><p>
		<ul class="list-group">
		  <li class="list-group-item"><b><%= curator.id %></b>. <%= curator.name %></li>
		</ul>
	</p></h2>
<% end %>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small><span class="badge badge-secondary">New</span></small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Сообщения
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Уведомления
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Друзья
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
    <h6 class="card-subtitle mb-2 text-muted">Подзаголовок карты</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Ссылка карты</a>
    <a href="#" class="card-link">Другая ссылка</a>
  </div>
</div>

<p align="center">Текст</p>

<button type="button" class="btn btn-primary">
  Уведомления <span class="badge badge-light">4</span>
</button>

<button type="button" class="btn btn-primary">
  Профиль <span class="badge badge-light">9</span>
  <span class="sr-only">непрочитанных сообщений</span>
</button>

