<style>
  #block1 {
	float: left;
	display: block;
	width: 300px;
	border: 1px;
	margin: 2px;
	}

  #block2 {
	float: left;
	display: block;
	width: 300px;
	border: 1px;
	margin: 2px;
	}
</style>


<div class="card" style="float: left; display: block; width: 18rem;">
  <img class="card-img-top" src="https://i.ibb.co/vmDSK0C/1537385159-darya-rudenok-poster.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 align="center" class="card-title"><b>Дарья Руденок</b></h5>
    <h6 align="center" class="card-subtitle mb-2 text-muted">Зомби-апокалипсис</h6>
    <p align="center" class="card-text"></p>
    <p align="center"> <a href="https://www.instagram.com/dasharudenok/" class="btn btn-primary">Instagram</a></p>
  </div>
</div>


	
<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="https://i.ibb.co/590V3h3/1426680765-elizaveta-kononova-foto-2.jpg" alt="Card image cap">
	  <div class="card-body">
	    <h5 align="center" class="card-title"><b>Елизавета Кононова</b></h5>
	    <h6 align="center" class="card-subtitle mb-2 text-muted">Голливудская звезда</h6>
	    <p align="center" class="card-text"></p>
	    <p align="center"> <a href="https://www.instagram.com/kononovael" class="btn btn-primary">Instagram</a></p>
	  </div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
    <h6 class="card-subtitle mb-2 text-muted">Подзаголовок карты</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Ссылка карты</a>
    <a href="#" class="card-link">Другая ссылка</a>
  </div>
</div>

<p align="center">Текст</p>

<button type="button" class="btn btn-primary">
  Уведомления <span class="badge badge-light">4</span>
</button>

<button type="button" class="btn btn-primary">
  Профиль <span class="badge badge-light">9</span>
  <span class="sr-only">непрочитанных сообщений</span>
</button>

