<div class="jumbotron">
  <h1 align="center" class="display-4"><b>Проект "На Грани"</b></h1>
  <p align="center" class="lead">На Грани - это интерактивная текстовая моб. игра для IOS и Android. В игре вам предстоит делать выбор, от которого будет зависеть дальнейший сюжет.</p>
  <hr class="my-4">
  <p align="center"> Её жизнь зависит от ваших ответов. История, где всё реально: герои, локации, события. <br/> Ищите подсказки в сети. </p>
  <p align="center" class="lead">
    <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/ru/app/id1148161536" role="button">Скачать</a>
  </p>
</div>

<img class="card-img-top" src="https://i.ibb.co/PxczTTD/image.png" alt="Card image cap">